body {
  font-family: Arial, Helvetica, sans-serif;
}

#hero {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0 0 20px 5px darkgrey;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sosial {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#klik:hover {
  cursor: pointer;
}

.main-container {
  display: grid;
  grid-template-columns: 30% 70%;
  max-width: 1000px;
  margin: 50px auto;
}

.aku,
.little-garden {
  margin: 10px 10px;
  padding: 50px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 2px darkgrey;
}
